<div class="app-container" [ngClass]='this.getNgClass()'>
  <div class="application">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello World</h1>
        <h1>viewport:</h1>
        <h1>{{getInnerHeight()}}</h1>
        <h1>{{getInnerWidth()}}</h1>
        <h1>is ios</h1>
        <h1>{{this.isIOS}}</h1>
        <h1>is x model</h1>
        <h1>{{this.isNotch}}</h1>
        <h1>Orientation</h1>
        <h1>{{this.notchOrientation}}</h1>
        <button class="btn btn-lg btn-danger vortex">Test</button>
      </div>
    </div>
  </div>
</div>