<div class="app-container" [ngClass]='this.getNgClass()'>
  <div class="application">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello World</h1>
        <h1>
          <span>viewport: </span>
          <span>{{getInnerHeight()}}</span>
          <span>x</span>
          <span>{{getInnerWidth()}}</span>
        </h1>
        <h1>
          <span>is ios? </span>
          <span>{{this.isIOS}}</span>
        </h1>
        <h1>
          <span>is x model? </span>
          <span>{{this.isNotch}}</span>
        </h1>
        <h1>
          <span>Orientation? </span>
          <span>{{this.notchOrientation != null ? this.notchOrientation : 0}}</span>
        </h1>
        <!-- <div class="input-group mb-3"> -->
          <!-- <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div> -->
          <!-- <button class="btn btn-warning"> -->
          <input type="file" class="" id="inputGroupFile01" accept="image/*" name="thefile" (change)="this.fileInputChange($event)">

          <!-- <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->
          <!-- </button> -->
        <!-- </div> -->
        <button class="btn btn-lg btn-danger vortex" style="margin-top: 10px; float: right;" (click)="this.onClick()">Upload</button>
        <div *ngIf="this.showImage">
          <img [src]="this.imgSrc" [width]='this.getInnerWidth()*0.8' height="this.getInnerHeight()*0.8" alt="">
        </div>
      </div>
    </div>
  </div>
</div>