<div class="app-container" [ngClass]='this.getNgClass()'>
  <div class="application">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello World</h1>
        <h1>viewport:</h1>
        <h1>{{getInnerHeight()}}</h1>
        <h1>{{getInnerWidth()}}</h1>
        <h1>is ios</h1>
        <h1>{{this.isIOS}}</h1>
        <h1>is x model</h1>
        <h1>{{this.isNotch}}</h1>
        <h1>Orientation</h1>
        <h1>{{this.notchOrientation}}</h1>
        <div class="input-group mb-3">
          <!-- <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div> -->
          <!-- <button class="btn btn-warning"> -->
          <input type="file" class="" id="inputGroupFile01" accept="image/*" name="thefile" (change)="this.fileInputChange($event)">
          
          <!-- <label class="custom-file-label" for="inputGroupFile01">Choose file</label> -->
          <!-- </button> -->
        </div>
        <button class="btn btn-lg btn-danger vortex" (click)="this.onClick()">Upload</button>
        <div *ngIf="this.showImage">
          <img [src]="this.imgSrc" width='350px' height="757px" alt="">
        </div>
      </div>
    </div>
  </div>
</div>