/* You can add global styles to this file, and also import other style files */
body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    position: fixed;
    overflow: hidden;
 }

@-ms-viewport{
    width: device-width;
}